@media screen and (max-width: 960px){
	.slide-info {
		left: 9%;
		bottom: 1%;
	}
	.flex-item {
		width: 32%;
	}
	.flex-items {
		width: 40%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 10px;
	}
	.footer-inner{
		border: none;
	}
}
@media screen and (max-width: 875px) {
	.slider-nav {
		display: none;
	}
}
@media screen and (max-width: 700px) {
	.slider-1 .slide-info {
		padding: 0 0 0 18px;
	}
	.slider-1 .inner p {
		padding: 0;
		width: 67%;
	}
	.tabs ul li {
		display: block;
		padding: 5px 0;
	}
	.flex-item {
		width: 90%;
		padding: 15px 0 28px;
		margin-left: auto;
		margin-right: auto;
	}
	.about{
		width: 269px;
		margin-left: 15px;
	}
	.twitter{
		width: 222px;
		margin-left: 25px;
	}
	.contact{
		width: 270px;
		margin-left: 35px;
		margin-right: 15px;
	}
}
@media screen and (max-width: 600px){
	.footer-inner{
		display: block;
		text-align: center
	}
	.about{
		display: block;
		margin: 0 auto;
	}
	.twitter{
		display: block;
		margin: 10px auto;
	}
	.contact{
		display: block;
		margin: 10px auto 0 auto;
		padding-bottom: 10px;
	}
	.menu-btn{
		display: block ;
	}
	.main-nav{
		display: none;
		background: transparent;
		position: absolute;
		top: 60px;	
		right: 5px;
	}
	.main-nav ul{
		margin: 0;
		padding: 3px 15px;
		list-style: none;
	}
	.main-nav li{
		display: inline-block ;
		padding: 5px ;
	}
	.main-nav a{
		display: block ;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 13px ;
	}
	.header-name-line{
		margin-top: 40px;
	}
}
@media screen and (max-width:480px) {
	body {
		margin: 0;
	}
	.line-container{ 
		border-left: none; 
		border-right: none; 
	}
	.logo {
		margin-left: 5px;
	}
	.slider-1 .slide-info {
		padding: 0 0 0 48px;
    	width: 100%;
    	left: 0;
    	bottom: 0;
    	height: 100%;
	} 
	.slider-1 .inner h3 {
		line-height: 25px;
    	padding: 9% 0 0;
	}
	.tabs .flex-container {
		padding: 0;
	}
	.tabs .flex-items {
		padding-bottom: 25px;
	}
	.flex-items {
		width: 90%;
	}
	.flex-item h3::before {
		top: 30px;
	}
}

