body { 
	font-family: Arial, sans-serif; 
	font-size: 12px; 
	line-height: 1.6; 
	color: #000; 
	background: url("../img/background.png"), #fff; 
}
.container{
	min-width: 320px;
	max-width: 940px;
	margin: 0 auto;
}
.line-container{ 
	border-left: 10px solid #fff; 
	border-right: 10px solid #fff; 
} 

/* header */

.menu-btn{	
	width: 68px;
	height: 70px;
	float: right;
	background: transparent;
	position: relative;
	cursor: pointer;
	display: none;
}
.menu-btn span{
	width: 18px;
	height: 2px;
	background: #e8663c;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -9px;
}
.menu-btn span::before,.menu-btn span::after{
	content: "";
	width: 18px;
	height: 2px;
	background: #e8663c;
	position: absolute;
	left: 0;
	transition: transform 1s;
}
.menu-btn span::before{
	top: -5px;
}
.menu-btn span::after{
	bottom: -5px;
}
.menu-btn.is-active span{
	background: transparent;
}
.menu-btn.is-active span::before{
	transform: rotate(45deg);
	top: 0;
} 
.menu-btn.is-active span::after{
	transform: rotate(-45deg);
	bottom: 0;
}

.header1{
	background: transparent;
}
.logo{
	display: inline-block;
	margin: 23px 0 16px;
}
.main-nav{
	float: right;
}
.main-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-nav ul li{
	display: inline-block;
	padding: 30px 0 22px 25px;
}
.main-nav ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #B9B9B9;
	font-family: 'Bebas';
	font-size: 16px ;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.main-nav li:hover a{
	color: #E8663C;
}


/* footer */
.footer-inner h4{ 
	font-family: 'Bebas'; 
	margin-top: 30px; 
	margin-bottom: 20px; 
} 
.footer-inner p, 
.footer-inner span, 
.footer-inner a{ 
	font-family: 'HelveticaNeueCyr'; 
	line-height: 15px; 
	color:#fff; 
	text-decoration: none; 
} 
footer{ 
	width: 100%; 
	background: #f2b19c; 

} 
.footer-inner{ 
	font-size: 12px; 
	max-width: 960px; 
	background: #e8663c; 
	display: flex; 
	padding-bottom: 25px; 
} 
.footer-inner h4{ 
	font-size: 1.7em; 
	color:#fff; 
} 
.footer-inner p{ 
	font-size: 1em; 
	color:#fff; 
} 
.about{ 
	width: 269px; 
	margin-left: 35px; 
} 
.about p{ 
	margin-bottom: 12px; 
	margin-top: 0; 
	line-height: 15px; 
} 
.twitter{ 
	width: 222px; 
	margin-left: 55px; 
} 
.twitter p{ 
	margin-bottom: 4px; 
	margin-top: 15px; 
} 
.twitter a{ 
	color:#f3b29d; 
	text-decoration: none; 
	padding-right: 3px; 
} 
.contact{ 
	width: 270px; 
	margin-left: 65px; 
	margin-right: 23px; 
} 
.contact span{ 
	display:block; 
} 
.footer-links{ 
	margin-top: 15px; 
} 
.footer-links img{ 
	margin-right: 2px; 
	display: inline-block; 
}