body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	background: #fff;
	font-size: 14px;
	line-height: 1.3;
}
.container {
	max-width: 940px;
	min-width: 320px;
	margin: 0 auto;
}
.slider-1 img {
	width: 100%;
	height: auto;
}
.slider-1 button {
	outline: none;
}
.slider-1 .inner h3 {
	font-family: 'Bebas';
	font-size: 18px;
	font-weight: bold;
	color: #e7e7e7;
	margin: 0;
	text-transform: uppercase;
	line-height: 41px;
}
.slider-1 .inner p {
	font-size: 12px;
	font-family: 'HelveticaNeueCyr';
	margin: 0;
	padding: 7px 0 21px;
}
.slick-slide {
	outline: none;
}
.slide-info {
	background: #f59022;
	position: absolute;
	left: 4%;
	color: #fff;
	font-size: 20px;
	width: 42%;
	opacity: 0.6;
	padding: 10px 0 0 17px;
	bottom: 8%;
}
.slick-arrow {
	position: absolute;
	height: 55%;
	width: 0;
	border: none;
	top: 36%;
	z-index: 100;
	font-size: 0;
	background: url(../img/slider-narrow.png) no-repeat;
}
.slick-arrow:before {
	content: "";
	width: 50px;
	height: 73px; 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}
.slick-prev {
	padding: 0 44px 0 0;
	background-position: 0 0;
	left: 2%;	
}
.slick-next {
	padding: 0 0 0 72px;
	background-position: -60px 0;
	right: 0;
}
.slick-dots {
	display: none;
}
.inner {
	position: relative;
}
.slick-dots li{
	display: none;
}
.slick-dots li button {
	display: none;
}
.slick-dots li.slick-active button {
	display: none;
}
.slick-slider {
	margin-left: auto;
	margin-right: auto;
	max-width: 941px;
	padding: 0;
}
.slider-nav {
	margin-left: auto;
	margin-right: auto;
	max-width: 941px;
	padding: 17px 0 0 0;
}
.slider-nav img {
	width: 141px;
	padding: 0;
	margin: 0;
}
.slider-nav .slick-current img {
	opacity: 0.45;
}
.slider-nav .slick-slide:last-child img {
	padding: 0 0 0 14px;
}
.features {
	padding: 20px 3px 0 0;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex-item {
	width: 300px;
	position: relative;
}
.flex-item h3 {
	font-family: 'Bebas';
	font-size: 18px;
	line-height: 24px;
	color: #e8663c;
	text-transform: uppercase;
	padding-left: 72px;
}
.flex-item h3::before {
	content: "";
	background: url(../img/ics-forafter-slider.png) 3px 3px no-repeat;
	padding: 30px 27px;
	position: absolute;
	top: 16px;
	left: -3px;
}
.flex-item .tick::before {
	background-position: -48px 0;
}
.flex-item .user::before {
	background-position: -101px 0;
}
.flex-item p {
	font-family: 'HelveticaNeueCyr';
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	color: #414141;
	padding: 12px 12px 18px 2px;
}
.flex-item a {
	font-family: 'Bebas';
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	padding: 3px 14px;
	background: #e8663c;
}
.recent-work {
	padding: 28px 0 ;
	position: relative;
	font-family: 'Bebas';
}
.recent-work h2 {
	font-size: 18px;
	color: #e8603c;
	text-transform: uppercase;
	display: block;
	position: relative;
	background: url(../img/patter-fortitle-recent-work.png) 0 0;
	margin: 18px 0 25px;
	padding: 0;
	line-height: 17px;
}
.recent-work h2 span {
	width: 133px;
	background: #fff;
	padding: 0 22px 0 0;
}
.flex-items {
	width: 220px;
	line-height: 18px;
}
.flex-items a {
	display: block;
	text-decoration: none;
}
.flex-items img {
	width: 100%;
} 
.flex-items .img {
	position: relative;
}
.flex-items .overlay {
	background-image: url(../img/ic-plus.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 99%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	padding: 0;
	margin: 0;
	display: none;
}
.flex-items > .img:hover > .overlay {
	display: block;
}
.flex-items .text-content {
	padding-left: 11px;
	border: 1px solid #dbdbdb;
	border-top: none;
}
.flex-items h3 {
	color: #b9b9b9;
	font-size: 16px;
	margin: -2px 0 0;
	padding: 12px 0 0;
}
.flex-items p {
	color: #e8663c;
	font-size: 11px;
	margin: 0;
	padding: 3px 0 10px;
}