
@media screen and (max-width: 960px) {
	.slide-info {
		left: 9%;
		bottom: 1%;
	}
	.flex-item {
		width: 32%;
	}
}
@media screen and (max-width: 768px) {
	.slider-nav {
		display: none;
	}
	.slider-1 .slide-info {
		padding: 0 0 0 18px;
	}
	.slider-1 .inner p {
		padding: 0;
		width: 67%;
	}
	.flex-item {
		width: 90%;
		padding: 15px 0 28px;
		margin-left: auto;
		margin-right: auto;
	}
}