@media screen and (max-width: 600px) {
	.menu-btn{
		display: block !important;
	}
	.main-nav{
		display: none !important;
		background: transparent;
		position: absolute;
		top: 60px;	
		right: 5px;
	}
	.main-nav ul{
		margin: 0 !important;
		padding: 3px 15px !important;
		list-style: none;
	}
	.main-nav li{
		display: inline-block ;
		padding: 5px !important;
	}
	.main-nav a{
		display: block ;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 13px!important ;
		}
}