@media screen and (max-width: 920px) {
	.map-block .map {
	width: 90%;
	height: auto;
	margin: 10px auto;
	float: none;
}
.sidebar {
	width: 90%;
	margin: 0 auto;
	float: none;
}
.inner-sidebar .flex-item img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.form-block .text-content {
    width: 240px;
    float: none;
    margin: 10px auto;
    text-align: center;
    font-family: 'HelveticaNeueCyr';
}
.form {
    width: 90%;
    float: none;
   margin:10px auto;
   padding: 0;
}

}
@media screen and (max-width: 600px){
.header-name-line{
	margin-top: 40px;
}
}
@media screen and (max-width: 545px){
	.form textarea {
    width:90%;
    height: 205px;
}
}

