@media screen and (max-width: 960px) {
	.flex-items {
		width: 40%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 768px) {
	.tabs ul li {
		display: block;
		padding: 5px 0;
	}
}
@media screen and (max-width:480px) {
	.flex-container {
		padding: 0;
	}
	.flex-items {
		width: 90%;
		padding-bottom: 25px;
	}
}